<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Data Preprocessing</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Data Preprocessing</li>
        </ol>
    </nav>
</div>
<div class="row row-xs">
    <div class="col-lg-6">
        <div class="card">
            <h6 class="card-header">Upload File</h6>
            <div class="card-body tx-12">
                <div class="row">
                    <label class="col-sm-4 col-form-label pd-r-0 tx-gray-500">Attachments</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" multiple="multiple"
                                ng-model="files" tr-files>
                            <label class="custom-file-label tr-custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="pd-t-15" ng-if="files">
                    <label class="tx-gray-500">List Files</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="tx-right">Size File (Byte)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in files">
                                    <td>{{file.name}}</td>
                                    <td class="tx-right">{{file.size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary tr-btn-form pd-t-15" ng-click="upload()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="statistics" class="col-lg-6" ng-if="statistics">
        <div class="card">
            <div class="card-header d-sm-flex align-items-start justify-content-between bd-b-0">
                <h6 class="lh-5 mg-b-0">File Statistic</h6>
                <span class="tx-13 link-03">File Name: {{statistics.file.filename}}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-dashboard mg-b-0 tr-fixed-table">
                    <tr>
                        <th>Valid Data</th>
                        <td class="text-right">{{statistics.valid}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="valid"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="valid"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Invalid NIK</th>
                        <td class="text-right">{{statistics.invalidNik}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="invalidNik"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="invalidNik"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Invalid NPWP</th>
                        <td class="text-right">{{statistics.invalidNpwp}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="invalidNpwp"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="invalidNpwp"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null Address</th>
                        <td class="text-right">{{statistics.nulladdress}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nulladdress"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nulladdress"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null Date of Birth</th>
                        <td class="text-right">{{statistics.nulldob}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nulldob"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nulldob"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null Name</th>
                        <td class="text-right">{{statistics.nullname}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nullname"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nullname"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null NIK</th>
                        <td class="text-right">{{statistics.nullnik}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nullnik"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nullnik"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null NPWP</th>
                        <td class="text-right">{{statistics.nullnpwp}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nullnpwp"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nullnpwp"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Null Place of Birth</th>
                        <td class="text-right">{{statistics.nullpob}}</td>
                        <td class="wd-60">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="nullpob"
                                    tr-statistics-selected="exportType">
                                <label class="custom-control-label" for="nullpob"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td class="text-right">{{statistics.total}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-sm btn-primary pd-y-2" ng-click="exportFile()">Export File</button>
            </div>
        </div>
    </div>
</div>
<div class="card mg-t-10">
    <div class="card-header pd-t-20 pd-b-0 bd-b-0">
        <h6>List Files</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-dashboard mg-t-10 mg-b-0" datatable="" dt-options="dtOptions"
                dt-columns="dtColumns" dt-instance="dtInstance"></table>
        </div>
    </div>
</div>