<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Dashboard</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>
<div class="row row-xs">
    <div class="col-xl-8">
        <div class="card">
            <h6 class="card-header">Matching Progress</h6>
            <div class="card-body row row-xs">
                <div class="col-md-8 ht-300">
                    <canvas ng-attr-id="{{'chart-'+id}}"></canvas>
                </div>
                <div class="col-md-4 mg-t-50 mg-md-t-0 row row-xs">
                    <ul class="col-6 col-md-12 activity tx-13">
                        <li class="activity-item">
                            <div class="activity-icon bg-pink-light tx-pink">
                                <i data-feather="circle"></i>
                            </div>
                            <div class="activity-body">
                                <small class="tx-color-03">New</small>
                                <h2 class="mg-b-0">{{dataMatchingProgress.dashboard.new | number: 0}}%</h2>
                                <span
                                    class="mg-l-30">{{dataMatchingProgress.totalRecords - (dataMatchingProgress.processedRecords + dataMatchingProgress.completedRecords)}}
                                    Records</span>
                            </div>
                        </li>
                        <li class="activity-item">
                            <div class="activity-icon bg-warning-light tx-orange">
                                <i data-feather="arrow-right-circle"></i>
                            </div>
                            <div class="activity-body">
                                <small class="tx-color-03">Processed</small>
                                <h2 class="mg-b-0">{{dataMatchingProgress.dashboard.processed | number: 0}}%</h2>
                                <span class="mg-l-30">{{dataMatchingProgress.processedRecords}} Records</span>
                            </div>
                        </li>
                        <li class="activity-item">
                            <div class="activity-icon bg-primary-light tx-primary">
                                <i data-feather="check-circle"></i>
                            </div>
                            <div class="activity-body">
                                <small class="tx-color-03">Completed</small>
                                <h2 class="mg-b-0">{{dataMatchingProgress.dashboard.completed | number: 0}}%</h2>
                                <span class="mg-l-30">{{dataMatchingProgress.completedRecords}} Records</span>
                            </div>
                        </li>
                    </ul>
                    <div class="col-6 col-md-12 mg-md-t-20">
                        <small class="tx-color-03">From</small>
                        <ul>
                            <li><strong>Processed Files :</strong> {{dataMatchingProgress.totalFiles}}</li>
                            <li><strong>Completed Files :</strong> {{dataMatchingProgress.completedFiles}}</li>
                            <li><strong>Total Files :</strong> {{dataMatchingProgress.totalFiles}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>