<div class="card mg-t-10">
    <h6 class="card-header mg-b-0">Exact Match</h6>
    <div class="card-body row row-xs">
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <h6 class="card-header mg-b-0 tx-gray-500">Detail Data</h6>
                <div class="card-body pd-lg-25 d-flex align-items-center justify-content-center">
                    <img class="tr-photo" src="../../img/sample.jpg" alt="">
                </div>
                <div class="card-footer pd-20">
                    <div class="col mg-b-5">
                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NPWP</div>
                            <div class="col-sm-6 col-lg-12 ">{{data['NPWP']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NIK</div>
                            <div class="col-sm-6 col-lg-12">{{data['NIK']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Name</div>
                            <div class="col-sm-6 col-lg-12">{{data['Full Name']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Place of Birth</div>
                            <div class="col-sm-6 col-lg-12">{{data['Place of Birth']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Date of Birth</div>
                            <div class="col-sm-6 col-lg-12">{{data['Date of Birth']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Address</div>
                            <div class="col-sm-6 col-lg-12">{{data['Full Address']}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 mg-t-10 mg-lg-t-0">
            <div class="card">
                <h6 class="card-header bd-b-0 tx-gray-500">List Possible Match</h6>
                <div class="table-responsive">
                    <table class="table table-dashboard mg-t-10 mg-b-0 tr-fixed-table" datatable=""
                        dt-options="dtOptions" dt-columns="dtColumns"></table>
                </div>
            </div>
        </div>
    </div>
</div>