<div class="card mg-t-10">
    <h6 class="card-header mg-b-0">Exact Match</h6>
    <div class="card-body row row-xs">
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <h6 class="card-header mg-b-0 tx-gray-500">Detail Data</h6>
                <div class="card-body pd-lg-25 d-flex align-items-center justify-content-center">
                    <img class="tr-photo" src="../../img/sample.jpg" alt="">
                </div>
                <div class="card-footer pd-20">
                    <div class="col mg-b-5">
                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NPWP</div>
                            <div class="col-sm-6 col-lg-12 ">{{data['NPWP']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NIK</div>
                            <div class="col-sm-6 col-lg-12">{{data['NIK']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Name</div>
                            <div class="col-sm-6 col-lg-12">{{data['Full Name']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Place of Birth</div>
                            <div class="col-sm-6 col-lg-12">{{data['Place of Birth']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Date of Birth</div>
                            <div class="col-sm-6 col-lg-12">{{data['Date of Birth']}}</div>
                        </div>

                        <div class="row mg-b-5">
                            <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Address</div>
                            <div class="col-sm-6 col-lg-12">{{data['Full Address']}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 mg-t-10 mg-lg-t-0">
            <div class="card">
                <div class="card-header d-sm-flex align-items-start justify-content-between pd-b-0 bd-b-0">
                    <h6 class="lh-5 mg-b-0 tx-gray-500">List Possible Match</h6>
                    <span class="tx-13 link-03">File Name: testing_Jakarta.xls</span>
                </div>
                <div class="table-responsive">
                    <table class="table table-dashboard table-hover mg-t-10 mg-b-0">
                        <thead>
                            <tr>
                                <th>NPWP</th>
                                <th>KTP</th>
                                <th>Full Name</th>
                                <th>Place and Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ui-sref="etl.proximity.matching">
                                <td>99.123.456.7-890.999</td>
                                <td>10 50 24 570890 0001</td>
                                <td>Muhammad Rizal</td>
                                <td>Bandung, 01 Maret 1995</td>
                            </tr>
                            <tr ui-sref="etl.proximity.matching">
                                <td>99.123.456.7-890.999</td>
                                <td>10 50 24 570890 0001</td>
                                <td>Muhammad Rizal</td>
                                <td>Bandung, 01 Maret 1995</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>