<div class="row row-xs mg-t-10">
    <div class="col-lg-4 col-xl-3">
        <div class="card">
            <h6 class="card-header mg-b-0">Report Matching</h6>
            <div class="card-body pd-lg-25 d-flex align-items-center justify-content-center">
                <img class="tr-photo" src="../../img/sample.jpg" alt="">
            </div>
            <div class="card-footer pd-20">
                <div class="col mg-b-5">
                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NPWP</div>
                        <div class="col-sm-6 col-lg-12 ">{{data.npwp}}</div>
                    </div>

                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">NIK</div>
                        <div class="col-sm-6 col-lg-12">{{data.nik}}</div>
                    </div>

                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Name</div>
                        <div class="col-sm-6 col-lg-12">{{data.fullName}}</div>
                    </div>

                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Place of Birth</div>
                        <div class="col-sm-6 col-lg-12">{{data.placeOfBirth}}</div>
                    </div>

                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Date of Birth</div>
                        <div class="col-sm-6 col-lg-12">{{data.dateOfBirth}}</div>
                    </div>

                    <div class="row mg-b-5">
                        <div class="col-sm-6 col-lg-12 tx-gray-500 tx-11">Full Address</div>
                        <div class="col-sm-6 col-lg-12">{{data.fullAddress}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>