<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Load Data</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Load Data</li>
        </ol>
    </nav>
</div>
<div class="row row-xs">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                <h6>Upload a File</h6>
            </div>
            <div class="card-body tx-12">
                <div class="row">
                    <label class="col-sm-4 col-form-label pd-r-0 tx-gray-500">Attachments</label>
                    <div class="col-sm-8">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" multiple="multiple"
                                ng-model="files" tr-files>
                            <label class="custom-file-label tr-custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="pd-t-15" ng-if="files">
                    <label class="tx-gray-500">List Files</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="tx-right">Size File (Byte)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in files">
                                    <td>{{file.name}}</td>
                                    <td class="tx-right">{{file.size}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary tr-btn-form pd-t-15" ng-click="upload()">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mg-t-10">
        <div class="card">
            <div class="card-header pd-t-20 pd-b-0 bd-b-0">
                <h6>List Files</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dashboard mg-t-10 mg-b-0" datatable="" dt-options="dtOptions"
                        dt-columns="dtColumns" dt-instance="dtInstance"></table>
                </div>
            </div>
        </div>
    </div>
</div>