html,
body {
    overflow: hidden;
}

.tr-logo img {
    height: 36px;
}

.tr-content-header {
    justify-content: flex-end;
}

.tr-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tr-photo {
    height: 100px;
}