<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Proximity</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item"><a ui-sref="etl.loadData">Load Data</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proximity</li>
        </ol>
    </nav>
</div>
<div class="row row-xs">
    <div class="col-lg-6 mg-t-10">
        <div class="card">
            <div class="card-header d-sm-flex align-items-start justify-content-between">
                <h6 class="lh-5 mg-b-0">List Data</h6>
                <span class="tx-13 link-03">File Name: testing_Jakarta.xls</span>
            </div>
            <div class="card-body pd-y-15 pd-x-10">
                <div class="table-responsive">
                    <table class="table table-borderless table-sm tx-13 tx-nowrap mg-b-0">
                        <thead>
                            <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
                                <th class="wd-5p">&nbsp;</th>
                                <th>Browser</th>
                                <th class="text-right">Sessions</th>
                                <th class="text-right">Bounce Rate</th>
                                <th class="text-right">Conversion Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fab fa-chrome tx-primary op-6"></i></td>
                                <td class="tx-medium">Google Chrome</td>
                                <td class="text-right">13,410</td>
                                <td class="text-right">40.95%</td>
                                <td class="text-right">19.45%</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-firefox tx-orange"></i></td>
                                <td class="tx-medium">Mozilla Firefox</td>
                                <td class="text-right">1,710</td>
                                <td class="text-right">47.58%</td>
                                <td class="text-right">19.99%</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-safari tx-primary"></i></td>
                                <td class="tx-medium">Apple Safari</td>
                                <td class="text-right">1,340</td>
                                <td class="text-right">56.50%</td>
                                <td class="text-right">11.00%</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-edge tx-primary"></i></td>
                                <td class="tx-medium">Microsoft Edge</td>
                                <td class="text-right">713</td>
                                <td class="text-right">59.62%</td>
                                <td class="text-right">4.69%</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-opera tx-danger"></i></td>
                                <td class="tx-medium">Opera</td>
                                <td class="text-right">380</td>
                                <td class="text-right">52.50%</td>
                                <td class="text-right">8.75%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>